canvas {
    border: 1px solid black;
    background: grey;
}


#sidebar {
    position: absolute;
    left: 101%;
    top: 0%;
    display: inline-block;
    border: 1px solid black;
    background-color: lightblue;
}

#simManipulation {
    display: inline-block;
    border: 1px solid black;
    position: absolute;
    background-color: red;
    left: -49%;
    top: 0%;
}

.wrapper {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    position: relative;
}

.label {
    display: inline;
}

#state {
    display: inline;
    color: red;
}

#iteration {
    display: inline;
}